<!DOCTYPE html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>

       <!-- inject:css -->
<!-- endinject -->
</head>
<body>
    
    <span ng-controller="testCtrl">
        Test value: <b>{{testValue}}</b>
    </span>
    
    
<!-- inject:js -->
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-mocks/angular-mocks.js"></script>
<script src="app.js"></script>
<!-- endinject -->
</body>
</html>